.box				{
						width:100%;
					}

.partsTableContainer {
						float:left;
						width:auto;
					}
					
.tableFilter		{
						float:right;
						width:10em;
					}
					
.filterText			{
						font-size:13px;
					}
					
.navList li			{
						display: inline;
						list-style-type: none;
						padding:0px 10px;
					}