{% extends "base.html" %}
{#{% load query_string %}#}

{% block title %}{{ board.pn }}.{{ board.rev }} : Smorgasboard{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo_table_jui.css" />
	<script src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
	<script src="{{ STATIC_URL }}js/board.js"></script>
	<script>
		$(document).ready(function() {
			var dtConfBoard = {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"aaSorting": [[0,'asc'], [1,'asc'], [2,'asc']],
				"aoColumns": [
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					{ "bSortable": false },
					null,
					null,
					null,
					null,
					{ "bSortable": false }
				],
				"sDom": '<f>lrtip',				
			};
			
			var dtConfOther = {
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"aaSorting": [[0,'asc'], [1,'asc'], [2,'asc']],
				"aoColumns": [
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					{ "bSortable": false },
					null,
					null,
					null,
					{ "bSortable": false }
				],
				"sDom": '<f>lrtip'
			};
		
			{% if lines %}
				$('#boardPartsTable').dataTable(dtConfBoard);
			{% endif %}
			{% if otherParts %}
				$('#otherPartsTable').dataTable(dtConfOther);
			{% endif %}
			
			// Off to begin
			toggleCommentCol();
			toggleSupplierCol();
		} );
		
		function toggleCommentCol() {
			$('.commentCol').toggle();
		}
		function toggleSupplierCol() {
			$('.supplierCol').toggle();
		}
		
		function editPartLine(id){
			post_to_url('{{ path }}', {'partLine': id});
		}
		function editPart(id){
			post_to_url('{{ path }}', {'part': id});
		}
		function addPartLine(id){
			post_to_url('{{ path }}', {'addPartLine': id});
		}
		function subtractPartLine(id){
			post_to_url('{{ path }}', {'subtractPartLine': id});
		}
	</script>
	
	<h1>{{ board.pn }}.{{ board.rev }} : {{ board.desc }}</h1>
	<div class="navBar">
		<ul class="navList">
			<li><a href="{% url board-change %}">Change board</a></li>
			<li><a href="{% url order %}">Orders</a></li>
			<li><a href="{% url parts %}">Parts</a></li>
			<li><a href="">Convert to order</a></li>
			<li><a href="">Download <img src="{{ STATIC_URL }}images/ico_excel.png" /></a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="box">
		<div class="quickAdd" style="float:left">
			<a href="#">Add part</a>
			<form action="">
				<label for="txtQuickPn">pn:</label><input type="text" id="txtQuickPn" />
			</form>
		</div>
		<div class="tableControl" style="float:right">
			<form action="">
				<label for="cmdToggleComments">Show comment:</label><input type="checkbox" id="cmdToggleComments" onchange="toggleCommentCol()" />
				<label for="cmdToggleSupplier">Show supplier:</label><input type="checkbox" id="cmdToggleSupplier" onchange="toggleSupplierCol()" />
			</form>
		</div>
	</div>
	<div class="box">
		<div class="fullAdd" style="display: none;">
			<form action="">
				<table id="newPartTable">
					<thead>
						<tr>
							<th>Type</th>
							<th>Subtype</th>
							<th>Value</th>
							<th>Desc</th>
							<th class="commentCol">Comment</th>
							<th>Package</th>
							<th>Mfr</th>
							<th class="supplierCol">Supplier</th>
							<th>pn</th>
							<th></th>
							<th>Price</th>
							<th>MinQty</th>
							<th>Stock</th>
							<th>Qty</th>
							<th></th>
						</tr>
					</thead>
						<tr>
							
						</tr>
					<tbody>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<div class="box">
		{% if lines %}
			<div class="partsTableContainer">
				<table id="boardPartsTable">
					<thead>
						<tr>
							<th>Type</th>
							<th>Subtype</th>
							<th>Value</th>
							<th>Desc</th>
							<th class="commentCol">Comment</th>
							<th>Package</th>
							<th>Mfr</th>
							<th class="supplierCol">Supplier</th>
							<th>pn</th>
							<th></th>
							<th>Price</th>
							<th>MinQty</th>
							<th>Stock</th>
							<th>Qty</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for line in lines %}
						<tr>
							<td>{{ line.part.type.name }}</td>
							<td>{{ line.part.subtype.name }}</td>
							<td>{{ line.part.value }}</td>
							<td>{{ line.part.desc }}</td>
							<td class="commentCol">{{ line.part.comment }}</td>
							<td>{{ line.part.package }}</td>
							<td>{{ line.part.mfr }}</td>
							<td class="supplierCol">{{ line.part.supplier.abbr }}</td>
							<td>
								{% if line.part.supplierUrl %}
									<a href="{{ line.part.supplierUrl }}">{{ line.part.pn }}</a>
								{% else %}
									{{ line.part.pn }}
								{% endif %}
							</td>
							<td>
								{% if line.part.datasheet %}
									<a href="{{ line.part.datasheet }}"><img src="{{ STATIC_URL }}images/ico_datasheet.png" height="16" width="16" /></a>
								{% endif %}
							</td>
							<td>
								{% if line.part.price < 1 %}
									${{ line.part.price|floatformat:3 }}
								{% else %}
									${{ line.part.price|floatformat:2 }}
								{% endif %}
							</td>
							<td>{{ line.part.minQty }}</td>
							<td>
								{% if line.part.inStock %}
									<img src="{{ STATIC_URL }}images/ico_yes.png" height="16" width="16" />
								{% else %}
									<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a>
								{% endif %}
							</td>
							<td>{{ line.qty }}</td>
							<td>
								<a href="#" onclick="subtractPartLine({{ line.id }});"><img src="{{ STATIC_URL }}images/ico_minus.png" height="16" width="16" /></a>
								<a href="#" onclick="addPartLine({{ line.id }});"><img src="{{ STATIC_URL }}images/ico_plus.png" height="16" width="16" /></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		<div class="tableFilter">
			<div class="filterBlock" id="partsTableSearch">
			</div>
			<div class="filterBlock">
				<ul>
					{% for type in boardTypes %}
						{% if type in boardFilters %}
							<li class="currentFilter">{{ type }}<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a>
						{% else %}
							<li><a href="{{ path }}?board:type__id__exact={{ type.id }}">{{ type }}</a>
						{% endif %}
							{% for subType in boardSubTypes %}
								<ul>
									{% if subType.type == type %}
										{% if subType in boardFilters %}
											<li class="currentFilter">
												{{ subType.name }}<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a>
											</li>
										{% else %}
											<li><a href="{{ path }}?board:subtype__id__exact={{ subType.id }}">{{ subType.name }}</a></li>
										{% endif %}
									{% endif %}
								</ul>
							{% endfor %}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="filterBlock">
				<ul>
					{% for package in boardPackages %}
						{% if package %}
							{% if package in boardFilters %}
								<li class="currentFilter">{{ package }}<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a></li>
							{% else %}
								<li><a href="{{ path }}?board:package={{ package }}">{{ package }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="filterBlock">
				<div class="filterText">
					Double-click or hover and press 'e' to edit. Shift-click to sort on multiple columns.
				</div>
			</div>
		</div>
	
		{% if otherParts %}
			<div class="partsTableContainer">
				<table id="otherPartsTable">
					<thead>
						<tr>
							<th>Type</th>
							<th>Subtype</th>
							<th>Value</th>
							<th>Desc</th>
							<th class="commentCol">Comment</th>
							<th>Package</th>
							<th>Mfr</th>
							<th class="supplierCol">Supplier</th>
							<th>pn</th>
							<th></th>
							<th>Price</th>
							<th>MinQty</th>
							<th>Stock</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for part in otherParts %}
						<tr>
							<td>{{ part.type.name }}</td>
							<td>{{ part.subtype.name }}</td>
							<td>{{ part.value }}</td>
							<td>{{ part.desc }}</td>
							<td  class="commentCol">{{ part.comment }}</td>
							<td>{{ part.package }}</td>
							<td>{{ part.mfr }}</td>
							<td  class="supplierCol">{{ part.supplier.abbr }}</td>
							<td>
								{% if part.supplierUrl %}
									<a href="{{ part.supplierUrl }}">{{ part.pn }}</a>
								{% else %}
									{{ part.pn }}
								{% endif %}
							</td>
							<td>
								{% if part.datasheet %}
									<a href="{{ part.datasheet }}"><img src="{{ STATIC_URL }}images/ico_datasheet.png" height="16" width="16" /></a>
								{% endif %}
							</td>
							<td>
								{% if part.price < 1 %}
									${{ part.price|floatformat:3 }}
								{% else %}
									${{ part.price|floatformat:2 }}
								{% endif %}
							</td>
							<td>{{ part.minQty }}</td>
							<td>
								{% if part.inStock %}
									<img src="{{ STATIC_URL }}images/ico_yes.png" height="16" width="16" />
								{% else %}
									<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a>
								{% endif %}
							</td>
							<td><a href="#" onclick="editPart(part.id);"><img src="{{ STATIC_URL }}images/ico_promote.png" height="16" width="16" /></a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="tableFilter">
				<div class="filterBlock">
					<ul>
						{% for type in otherTypes %}
							{% if type in otherFilters %}
								<li class="currentFilter">{{ type }}<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a>
							{% else %}
								<li><a href="{{ path }}?other:type__id__exact={{ type.id }}">{{ type }}</a>
							{% endif %}
								{% for subType in otherSubTypes %}
									<ul>
										{% if subType.type == type %}
											{% if subType in otherFilters %}
												<li class="currentFilter">{{ subType.name }}<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a></li>
											{% else %}
												<li><a href="{{ path }}?other:subtype__id__exact={{ subType.id }}">{{ subType.name }}</a></li>
											{% endif %}
										{% endif %}
									</ul>
								{% endfor %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="filterBlock">
					<ul>
						{% for package in otherPackages %}
							{% if package %}
								{% if package in otherFilters %}
									<li class="currentFilter">{{ package }}<a href="#"><img src="{{ STATIC_URL }}images/ico_no.png" height="16" width="16" /></a></li>
								{% else %}
									<li><a href="{{ path }}?other:package={{ package }}">{{ package }}</a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
